<div class="main-wrapper">

    <app-title-bar class="title-bar"></app-title-bar>

    <app-ribbon-wrapper class="ribbon-wrapper" id="ribbonWrapper" [blockType]="blocks[contentIdx].dType"></app-ribbon-wrapper>


    <div class="workplace-wrapper">

        <app-block-list class="block-list-wrapper"
                            [blocks]="blocks"
                            [selectedIdx]="contentIdx">
        </app-block-list>

        <app-block-content-wrapper class="block-content-wrapper">
        </app-block-content-wrapper>

    </div>

</div>
